body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

span{
    color: #00B7FF;
}

h1{
    text-transform: uppercase;
}

#map {
    height: 400px;
    width: 500px;
}